@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');


body{margin-top:20px;
    font-family: 'Roboto', sans-serif;
    background-color:#f2f6fc;
    color:#69707a;
    }


#lorem {
    color: grey;
    font-family: serif
}

.btn-outline-success {
    --bs-btn-color: #8e1212;
    --bs-btn-border-color: #931111;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #931111;
    --bs-btn-hover-border-color: #871919;
    --bs-btn-focus-shadow-rgb: 25, 135, 84;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #931111;
    --bs-btn-active-border-color: #931111;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #931111;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #931111;
    --bs-gradient: none
}

#icon-span {
    width: 60px;
    height: 60px;
    background-color: #871919;
    border-radius: 3px 27px;
    border: 3px #fff solid;
    position: absolute;
    bottom: 47%;

}

#type-an {
    color: #fff;
    margin-left: 15%;
    margin-top: 25%;
    font-style: oblique;
}
/* ================================================================================================================== */
/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap'); */



/* =========== NAVBAR ======== */
#logo {
    width: 100px;
    height: 103px;
}

#btn-addAnnonce {
    /* background-color: #08ACF2; */
    color: #eee;
    display: flex;
    height: 39px;
    font-weight: 600;
    align-items: center;
    gap: 6px;
    border: none;
}

#btn-addAnnonce:hover {
    /* background-color: #0daf63; */
    background-color: #093c71;
}

#btn-addAnnonce span {
    font-size: 1.2rem;
}

#btn-addAnnonce i {
    font-size: 1.3rem;
    padding-top: 6px;
}

#nav {
    background-color: #2d2d2d;
}

#slider-three {
    height: 290px;
    width: 100%;
    background: url(Images/imagereader11.JPG) center center/cover;
}

.type-annonce {
    width: 60px;
    height: 60px;
    background-color: #f7ce50;
    position: absolute;
    border-radius: 3px 27px;
    left: 2%;
    top: 39%;
    display: flex;
    border: #fff 3px solid;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.type-annonce:hover {
    background-color: #093c71;
    color: #fff;
}

.type-annonce h4 {
    font-size: 1.35rem;
}


.sign-in {
    font-weight: bold;
    height: 39px;
    border: #fff 2px solid;
    color: #fff;
    /* background-color: #fff; */

}

.sign-in:hover {
    color: #fff;
    background-color: #093c71;
}


.form-filter {
    background-color: rgba(0, 0, 0, 0.644);
    height: 70px;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 10px;
}

input {
    border-radius: 6px;
    border: none;
    outline: none;
    padding: 5px;
}

select option {
    padding: 7px;
}

#btn-serch {
    padding-top: 10%;
    position: absolute;
    height: 3rem;
    bottom: 76%;
    left: 6%;
    border-radius: 5%;
}

label span {
    font-weight: bold;
    font-size: 18px;
    color: #fff;
}

#btn-search {
    height: 36px;
    background-color: #0aa7cd;
    border: none;
    font-weight: 600;
}

#btn-search:hover {
    background-color: #931111;
}

/* =========== style cards================ */
.wow:hover {
    text-shadow: none !important;
    box-sizing: border-box !important;
    cursor: pointer !important;
    transition: all 0.3s ease !important;
    -webkit-transform: scale(1.1) !important;
    -ms-transform: scale(1.1) !important;
    transform: scale(1.1) !important;
    z-index: 2;
}
/* .img-card:hover {

} */

.wow {
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    cursor: pointer !important;
    width: 19rem;
    height: 450px"
}

/* .wow div h2 {
    /* position: absolute;
    left: 58%;
    top: 68%; */
    /* color: #f7ce50; */
/* }  */


/* ======== modal sign in =========== */
.btn-log-in {
    background-color: #093c71;
    color: #fff;
    font-weight: 700;
}

/* .btn-log-in:hover {
    background-color: #f7ce50;
} */


/* ===================== style page clients ======================== */
/* style cards */
#delete {
    background-color: red;
    color: #eee;
}

#delete:hover {
    background-color: #093c71;
}

#edit {
    background-color: #0aa7cd;
    color: #eee;
}

#edit:hover {
    background-color: #f7ce50;
}

.addAnnonce-clients {
    background-color: #0aa7cd;
}






